/*
<!------------------------------>
<!-- NAVBAR -->
<!------------------------------>
*/
.navbar-brand {
    font-family: "Protest Guerrilla", sans-serif; /*change the font name for what you have*/
    font-size: 2.25rem;
}

.navbar-light .navbar-brand .navbar-light .navbar-nav .nav-link .nav {
    color: #00241B; /* Dark green for brand name & nav links for visibility */
}


.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.main {
    padding-bottom: 140px;
}

.navbar {
    justify-content: space-evenly;
}
/* 
<!------------------------------>
<!-- NAVIGATION TABS -->
<!------------------------------> 
*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}


/*
<!------------------------------>
<!-- CREATE WORKOUT -->
<!------------------------------>
*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
<!------------------------------>
<!-- WORKOUT CARDS -->
<!------------------------------>
*/
.card {
    width: 80% !important;
}

.card > img {
    height: 150px;
}

.card-body {
    /* margin: 0; */
    padding: 0;
}

.card-title {
    margin: 0;
    padding: 0px 0px 8px 8px;
    font-size: 14pt;
}

.workout-image {
    width: 100%;
    height: 150px;
}

/*
<!------------------------------>
<!-- EXERCISE CARDS -->
<!------------------------------>
*/
.exercise-card .mb-3 {
    width: 400px !important;
    max-width: 400px !important;
    /* height: 100%; */
}

.img-fluid {
    height: 100px;
}

.card-text {
    margin: 0;
    padding: 0px 0px 8px 8px;
    font-size: 10pt;
}

.exercise-card {
    border: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.exercise-image {
    width: 100%;
    height: 150px;
}

/*
<!------------------------------>
<!-- FORMS -->
<!------------------------------>
*/
.form-workout-create {
    width: 18rem;
    /* width: 400px !important; */
    /* max-width: 400px !important; */
}
/*
.form-control {
    width: 90%;
}
*/

.enabled {
    background-color: green;
}

.disabled {
    background-color: red;
    color: white;
}

/* 
<!------------------------------>
<!-- Modal -->
<!------------------------------> 
*/
.modal {
    background-color: lightblue;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1.5s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    width: 80%;
    text-align: center;
}
