/*
<!------------------------------>
<!-- BODY -->
<!------------------------------>
*/

body {
    background: rgb(42 42 42);
    color: #FFF
}
h1 {
    color: #FFF;
}




.display-4 {
    font-weight: 500;
}


/*
<!------------------------------>
<!-- NAVBAR -->
<!------------------------------>
*/

#colour {
    --bs-bg-opacity: 1;
    background-color: rgb(30 30 95);
}

.navbar-brand {
    font-family: "Protest Guerrilla", sans-serif; /*change the font name for what you have*/
    font-size: 2.25rem;
    color: white;
}

.navbar-brand > img {
    filter: brightness(0) invert(1);
    color: white;
}

.navbar .navbar-brand {
    /* Dark green for brand name & nav links for visibility */
    color: #FFF;     
}

.nav-foot {
    filter: brightness(0) invert(1);
    color: white;
    width: 88px;
    text-align: center;
    font-size: 11pt;
}

.nav-item-foot {
    width: 88px;
    height: 60px;
    text-align: center;
} 

.heading {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.main {
    padding-bottom: 140px;
}

.navbar {
    justify-content: space-evenly;
}

.icon2 {
    width: 32px;
    height: 32px;
}

/* 
<!------------------------------>
<!-- NAVIGATION TABS -->
<!------------------------------> 
*/
a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #a3cef1;
}

/*
<!------------------------------>
<!-- Button -->
<!------------------------------>
*/
.btn {
    color: #070707;
}

.btn-success {
    --bs-btn-color: black;
    --bs-btn-bg: #a3cef1;
    --bs-btn-border-color: #a3cef1;
    --bs-btn-hover-bg: #27526f;
    --bs-btn-hover-border-color: #a3cef1;
    --bs-btn-active-bg: #27526f;
    --bs-btn-active-border-color: #a3cef1;

}

/*
<!------------------------------>
<!-- CREATE WORKOUT -->
<!------------------------------>
*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
<!------------------------------>
<!-- WORKOUT CARDS -->
<!------------------------------>
*/
.workout-card {
    /* width: 400px !important; */
    max-width: 400px !important;
}

.card {
    width: 80% !important;
    position: static;
}

.card > img {
    height: 250px;
}

.card-body {
    /* margin: 0; */
    padding: 0;
    color: #000;
}

.card-title {
    margin: 0;
    padding: 0px 0px 8px 8px;
    font-size: 14pt;
}

.workout-image {
    width: 100%;
    height: 300px;
}

.text-bg-secondary {
    background-color: #a3cef1 !important; 
}


/*
<!------------------------------>
<!-- EXERCISE CARDS -->
<!------------------------------>
*/
.exercise-card .mb-3 {
    width: 400px !important;
    max-width: 400px !important;
    /* height: 100%; */
}

.img-fluid {
    height: 100px;
}

.card-text {
    margin: 0;
    padding: 0px 0px 8px 8px;
    font-size: 10pt;
}

.exercise-card {
    border: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.exercise-image {
    width: 100%;
    height: 150px;
}


/*
<!------------------------------>
<!-- FORMS -->
<!------------------------------>
*/
.form-workout-create {
    width: 18rem;
    /* width: 400px !important; */
    /* max-width: 400px !important; */
}

.enabled {
    background-color: green;
}

.disabled {
    background-color: red;
    color: white;
}

/* 
<!------------------------------>
<!-- MODAL -->
<!------------------------------> 
*/
.modal {
    background-color: #ffc107;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1.5s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    width: 80%;
    text-align: center;
}

/* 
<!------------------------------>
<!-- BOOTSTRAP OVERRIDES ->
<!------------------------------> 
*/